development:
  clients:
    default:
      database: r2_lens
      hosts:
        - mongodb:27017
  options:
      raise_not_found_error: false
test:
  clients:
    default:
      database: r2_lens_test
      hosts:
        - mongodb:27017
  options:
    raise_not_found_error: false
